@model List<Category>

<div>
    <div>
        <h1>This is the Category Page</h1>
        <a asp-controller="Category" asp-action="Create">Create a Category</a>
    </div>
   
    <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Display Order</th>
        </tr>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>
                    <div>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>